@import "tailwindcss";

@theme {
  /* 🎨 Colors */
  --color-custom-white: #ffffff;
  --color-custom-arcade-primary: #7c3aed; /* Violet gaming vibes */
  --color-custom-arcade-secondary: #06b6d4; /* Cyan futuristik */
  --color-custom-arcade-accent: #facc15; /* Neon Yellow */
  --color-custom-arcade-dark: #0f172a; /* Dark background */

  /* 🖋 Fonts */
  --font-orbitron: "Orbitron", sans-serif;
  --font-inter: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

section {
  scroll-margin-top: 6rem;
  padding: 4rem 0;
  margin: auto;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
}
